/*
    New Perspectives on HTML5 and CSS3, 7th Edition
    Project Name: ResponsiveTable

    Responsive Table Style Sheet
    Author: Chiew Hong Kuang
    Date  : 09 November 2021

    Filename: rps_table_style.css
*/

.rsp-table {
    margin: 5%;
    padding: 0;
    width: 90%;
    height: auto;
}

.rsp-table, .theader, .tdata {
    display: flex;
}

.tcol {
    margin: 0;
    padding: 0;
    width: 100%;
}

.theader, .tdata {
    margin: 0;
    padding: 10px;
}

.tdata {
    justify-content: center; /* default */
}

.to-left {
    justify-content: start;
}

.to-right {
    justify-content: end;
}

.to-center {
    justify-content: center;
}

/* Black */
.black, .black .theader, .black .tdata {
    border: 1px solid #000;
}

.black .theader {
    background-image: linear-gradient(to right, #333, #000, #333);
    color: #fff;
    font-weight: bold;
}

.hori-header .tdata:nth-child(even) {
    background-image: linear-gradient(to right, #eee, #ddd, #eee);
    color: #000;
}

.verti-header .tcol:nth-child(even) {
    background-image: linear-gradient(to right, #eee, #ddd, #eee);
    color: #000;
}

/* Small Screen */
@media (max-width: 530px) {
    .theader {
        display: none;
    }

    .rsp-table, .rsp-table .tdata {
        display: block;
        width: 90%;
    }

    .rsp-table {
        margin: 5%;
        padding: 0;
        width: 90%;
    }

    .rsp-table .tdata {
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .tcol {
        margin-bottom: 50px;
    }

    .rsp-table .tcol:last-child {
        margin-bottom: 0;
    }

    .rsp-table.verti-header .tcol:first-child {
        margin-bottom: 0;
    }

    .tdata {
        text-align: left;
        border-left: none;
        border-right: none;
    }
}